<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.bizmatch.report.dao.ReviewReportDao">
	<!-- 특정 리뷰의 신고 List 조회 쿼리문 -->
	<select id="selectAllReviewReports" parameterType="string" resultType="com.ktdsuniversity.edu.bizmatch.report.vo.ReviewReportVO">
		SELECT RPRT_ID
	 		 , EMIL_ADDR
	 		 , CMMNT_ID
	 		 , RPRT_CTGRY
	 		 , RPRT_CNTNT
  		  FROM RVW_RPRT
 		 WHERE CMMNT_ID = #{_parameter}
	</select>
	
	<!-- 하나의 리뷰 신고 조회 쿼리문 -->
	<select id="selectOneReviewReport" parameterType="string" resultType="com.ktdsuniversity.edu.bizmatch.report.vo.ReviewReportVO">
		SELECT RPRT_ID
	 		 , EMIL_ADDR
	 		 , CMMNT_ID
	 		 , RPRT_CTGRY
	 		 , RPRT_CNTNT
  		  FROM RVW_RPRT
 		 WHERE RPRT_ID = #{_parameter}
	</select>
	
	<!-- 리뷰 신고 등록 쿼리문 -->
	<insert id="insertOneReviewReport" parameterType="com.ktdsuniversity.edu.bizmatch.report.vo.WriteReviewReportVO">
		INSERT INTO RVW_RPRT
		( RPRT_ID
		, EMIL_ADDR
		, CMMNT_ID
		, RPRT_CTGRY
		, RPRT_CNTNT )
		VALUES
		( RVW_RPRT_PK_SEQ.NEXTVAL
		, #{emilAddr}
		, #{cmmntId}
		, #{rprtCtgry}
		, #{rprtCntnt} )
	</insert>
	
	<!-- 리뷰 중복 신고 방지 확인 쿼리문 -->
	<select id="countReviewReport" parameterType="com.ktdsuniversity.edu.bizmatch.report.vo.ReviewReportVO">
		SELECT COUNT(1)
  		  FROM RVW_RPRT
 		 WHERE EMIL_ADDR = #{emilAddr}
   		   AND CMMNT_ID = #{cmmntId}
	</select>
</mapper>