<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.bizmatch.board.dao.BoardDao">

	<!-- 게시글 목록 조회 쿼리 -->
	<select id="selectBoardList"
			parameterType="com.ktdsuniversity.edu.bizmatch.board.vo.BoardSearchVO"
			resultType="com.ktdsuniversity.edu.bizmatch.board.vo.BoardVO">
		SELECT 
		    i.PST_ID,
		    i.ATHR_ID,
		    i.PST_CTGRY,
		    i.PST_NM,
		    i.PST_CNTNT,
		    i.LST_MOD_DT,
		    i.IS_DLT,
		    i.DLT_DT,
		    i.PST_HT,
		    i.IS_PST_OPN,
		    m.MBR_NM
		FROM 
		    IB_PST i
		JOIN 
		    MBR_INFO m ON i.ATHR_ID = m.EMIL_ADDR
		WHERE 
		    i.IS_DLT = 0 
		<if test="isAdmin == 0">
        	AND (i.IS_PST_OPN = 1 OR i.ATHR_ID = #{id})
    	</if>

		ORDER BY 
		    CASE 
		        WHEN i.PST_CTGRY = 0 THEN 1
		        WHEN i.PST_CTGRY = 1 THEN 2
		        ELSE 3
		    END,
		    i.LST_MOD_DT DESC
	</select>
	
	<!-- 게시글 총 개수 조회 쿼리 -->
	<select id="selectBoardCount"
			resultType="_int">
		SELECT COUNT(*) AS CNT
		  FROM IB_PST
		 WHERE IS_DLT = 0 
	</select>
	
	<!-- 특정 게시글 조회 -->
	<select id="selectOneBoard"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.bizmatch.board.vo.BoardVO">
		SELECT i.PST_ID,
			   i.ATHR_ID,
			   i.PST_CTGRY,
			   i.PST_NM,
			   i.PST_CNTNT,
			   i.LST_MOD_DT,
			   i.IS_DLT,
			   i.DLT_DT,
			   i.PST_HT,
			   i.IS_PST_OPN,
		       m.MBR_NM
		  FROM IB_PST i
		  JOIN MBR_INFO m 
		    ON i.ATHR_ID = m.EMIL_ADDR
		 WHERE PST_ID = #{_parameter} 
	</select>
	
	<!-- 게시글 작성 쿼리 -->
	<insert id="insertPost"
			parameterType="com.ktdsuniversity.edu.bizmatch.board.vo.BoardWriteVO"
			
	> 
		INSERT INTO IB_PST
			 ( PST_ID
			 , ATHR_ID
			 , PST_CTGRY
			 , PST_NM
			 , PST_CNTNT
			 , LST_MOD_DT
			 , IS_DLT
			 , DLT_DT
			 , PST_HT
			 , IS_PST_OPN)
		VALUES
			 ( IB_PST_PK_SEQ.NEXTVAL
			 , #{athrId}
			 , #{pstCtgry}
			 , #{pstNm}
			 , #{pstCntnt}
			 , SYSDATE
			 , 0 
			 , NULL
			 , 0 
			 , #{isPstOpn} )
	</insert>
	
	<!-- 게시글 수정 쿼리 -->
	<update id="updateModifyPost"
			parameterType= "com.ktdsuniversity.edu.bizmatch.board.vo.BoardModifyVO">
		UPDATE IB_PST
		   SET PST_CTGRY = #{pstCtgry}
		   	 , PST_NM= #{pstNm}
		  	 , PST_CNTNT= #{pstCntnt}
		  	 , LST_MOD_DT= SYSDATE 
		     , IS_PST_OPN= #{isPstOpn} 
		 WHERE PST_ID = #{pstId}
	</update>
	
	<!-- 게시글 삭제 쿼리 -->
	<update id="updateDeletePost"
			parameterType="string">
		UPDATE IB_PST
   		   SET IS_DLT= '1' 
      		 , DLT_DT= SYSDATE
      	 WHERE PST_ID = #{_parameter}	 
	</update>

	<!-- 게시글 조회 수 증가 쿼리 -->
	<update id="updateIncreaseViews"
			parameterType="string">
		UPDATE IB_PST
   		   SET PST_HT = PST_HT+1
   		 WHERE PST_ID = #{_parameter}
	</update>
	

	<select id="selectForPagination" 
			parameterType="com.ktdsuniversity.edu.bizmatch.common.vo.PaginationVO"
			resultType="com.ktdsuniversity.edu.bizmatch.board.vo.BoardVO">
		  SELECT *
		    FROM ( SELECT ROWNUM as RNUM
			 	 	    , S.*
				     FROM ( SELECT 
		  				           i.PST_ID,
								   i.ATHR_ID,
								   i.PST_CTGRY,
								   i.PST_NM,
								   i.PST_CNTNT,
								   i.LST_MOD_DT,
								   i.IS_DLT,
								   i.DLT_DT,
								   i.PST_HT,
								   i.IS_PST_OPN,
								   m.MBR_NM
							  FROM IB_PST i
							  JOIN MBR_INFO m 
							    ON i.ATHR_ID = m.EMIL_ADDR
						     WHERE i.IS_DLT = 0 
							<if test="isAdmin == 0">
        						AND (i.IS_PST_OPN = 0 OR i.ATHR_ID = #{searchIdParam})
    						</if>
						ORDER BY 
						    CASE 
						    WHEN i.PST_CTGRY = 0 THEN 1
						    END, i.LST_MOD_DT DESC) S
						WHERE ROWNUM <![CDATA[<=]]> (#{currPageNo} + 1)*#{exposureListSize} )
				  WHERE RNUM <![CDATA[>=]]> #{currPageNo} * #{exposureListSize} + 1
	</select>


	<!--  댓글 셀렉트 -->
	<select id ="selectBoardComment" 
			parameterType="string"
			resultType ="com.ktdsuniversity.edu.bizmatch.board.vo.BoardCommentVO">
			 SELECT LEVEL as LV
			 	  , i.CMMNT_ID
			      , i.PST_ID
			      , i.PRNT_CMMNT_ID
			      , i.LST_MOD_DT
			      , i.CMMNT_CNTNT
			      , i.IS_DLT
			      , i.DLT_DT 
			      , i.ATHR_ID
			      , m.MBR_NM
		  	   FROM IB_CNT i
		  	  INNER JOIN MBR_INFO m
		  	     ON i.ATHR_ID = m.EMIL_ADDR
		 	  WHERE PST_ID  = #{searchIdParam}
		   	  START WITH PRNT_CMMNT_ID IS NULL
		   	    AND IS_DLT = '0'
		   	CONNECT BY PRIOR CMMNT_ID = PRNT_CMMNT_ID
			ORDER SIBLINGS BY LST_MOD_DT DESC 
	</select>
	
	<select id ="selectPaginationComment" 
			parameterType="com.ktdsuniversity.edu.bizmatch.board.vo.BoardCommentPaginationVO"
			resultType ="com.ktdsuniversity.edu.bizmatch.board.vo.BoardCommentVO">
		
		 		  SELECT *
		    FROM ( SELECT ROWNUM as RNUM
			 	 	    , S.*
				     FROM ( SELECT LEVEL as LV
					 	  , i.CMMNT_ID
					      , i.PST_ID
					      , i.PRNT_CMMNT_ID
					      , i.LST_MOD_DT
					      , i.CMMNT_CNTNT
					      , i.IS_DLT
					      , i.DLT_DT 
					      , i.ATHR_ID
					      , m.MBR_NM
				  	   FROM IB_CNT i
				  	  INNER JOIN MBR_INFO m
				  	     ON i.ATHR_ID = m.EMIL_ADDR
				 	  WHERE PST_ID  = #{searchIdParam}
				   	  START WITH PRNT_CMMNT_ID IS NULL
				   	    AND IS_DLT = '0'
				   	CONNECT BY PRIOR CMMNT_ID = PRNT_CMMNT_ID
					ORDER SIBLINGS BY LST_MOD_DT DESC ) S
					WHERE ROWNUM <![CDATA[<=]]> (#{currPageNo} + 1)*#{exposureListSize} )
				  WHERE RNUM <![CDATA[>=]]> #{currPageNo} * #{exposureListSize} + 1
	</select>
	
	
	<!-- 댓글 인서트 --> 
	<insert id ="insertBoardComment"
			parameterType="com.ktdsuniversity.edu.bizmatch.board.vo.BoardCommentWriteVO"
	 >
		INSERT INTO IB_CNT
			 ( CMMNT_ID
			 , PST_ID
			 , PRNT_CMMNT_ID
			 , LST_MOD_DT
			 , CMMNT_CNTNT
			 , IS_DLT
			 , DLT_DT
			 , ATHR_ID )
		VALUES 
		     ( IB_CNT_PK_SEQ.NEXTVAL
		     , #{pstId}
		     , #{prntCmmntId}
		     , SYSDATE
		     , #{cmmntCntnt}
		     , 0 
		     , NULL
		     , #{athrId} )
	</insert>
	
	<!--  -->
	
	<!-- 댓글 업데이트 -->
	<update id ="updateBoardComment"
			parameterType="com.ktdsuniversity.edu.bizmatch.board.vo.BoardModifyCommentVO">
		UPDATE IB_CNT
		   SET 
		       LST_MOD_DT = SYSDATE
		     , CMMNT_CNTNT = #{cmmntCntnt}
	 	 WHERE CMMNT_ID = #{cmmntId}
	</update>
	
	<!-- 삭제 상태 -->
	<update id="updateDeleteState"
			parameterType="string">
		UPDATE IB_CNT
		   SET IS_DLT= 1 
		     , DLT_DT= SYSDATE
		 WHERE CMMNT_ID =  #{_parameter}
	</update>
	
</mapper>