<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ktdsuniversity.edu.bizmatch.project.dao.ProjectDao">

	<resultMap
		type="com.ktdsuniversity.edu.bizmatch.project.vo.ProjectVO"
		id="projectVOMap" autoMapping="true">
		<id column="PJ_ID" property="pjId" />

		<association property="memberVO"
			javaType="com.ktdsuniversity.edu.bizmatch.member.vo.MemberVO"
			autoMapping="true">
			<id column="EMIL_ADDR" property="emilAddr" />
		</association>
		<association property="paymentVO" javaType="com.ktdsuniversity.edu.bizmatch.payment.vo.PaymentVO" autoMapping="true">
			<id column="PYMNT_ID" property="pymntId"/>
		</association>
	</resultMap>

	<resultMap
		type="com.ktdsuniversity.edu.bizmatch.project.vo.ApplyProjectVO"
		id="projectApplyVOMap" autoMapping="true">
		<id column="PJ_APPLY_ID" property="pjApplyId" />

		<association property="projectVO"
			javaType="com.ktdsuniversity.edu.bizmatch.project.vo.ProjectVO"
			autoMapping="true">
			<id column="PJ_ID" property="pjId" />
		</association>


	</resultMap>

	<sql id="selectAllProjectCodition">
		WHERE 1 = 1
		<if test='searchKeyword != null and searchKeyword !="" '>
			<if test=' searchType == "entire" '>
				AND (P.PJ_TTL LIKE '%' || #{searchKeyword} || '%'
				OR
				P.PJ_DESC LIKE '%' || #{searchKeyword} || '%'
				)
			</if>
			<if test=' searchType == "pjTtl" '>
				AND P.PJ_TTL LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test=' searchType == "pjDesc" '>
				AND P.PJ_DESC LIKE '%' || #{searchKeyword} || '%'
			</if>
		</if>
	</sql>

	<!-- <select id="selectOneApply" resultMap="projectApplyVOMap"> SELECT P.PJ_ID 
		FROM PJ_APPLY A INNER JOIN PJ_INFO P ON A.PJ_ID = P.PJ_ID WHERE A.PJ_APPLY_ID 
		= #{pjApplyId} </select> -->



	<select id="selectProjectAllCount" resultType="_int"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.SearchProjectVO">

		SELECT COUNT(1)
		FROM PJ_INFO P
		INNER JOIN MBR_INFO M
		ON
		P.ORDR_ID = M.EMIL_ADDR
	</select>

	<!-- 하나의 프로젝트 정보를 저장하는 쿼리문. -->
	<insert id="insertOneProject"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.WriteProjectVO">
		<selectKey keyProperty="pjId" order="BEFORE"
			resultType="string">
			SELECT 'PJ-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' ||
			LPAD(PJ_INFO_PK_SEQ.NEXTVAL, 6, '0')
			FROM DUAL
		</selectKey>
		INSERT INTO PJ_INFO
		(PJ_ID,
		ORDR_ID,
		PJ_TTL,
		RGSTR_DT,
		STRT_DT,
		END_DT,
		CNTRCT_ACCNT,
		PJ_DESC,
		PJ_RCRUT_CNT,
		PJ_RCRUT_STRT_DT,
		PJ_RCRUT_END_DT)
		VALUES
		(#{pjId},
		#{ordrId},
		#{pjTtl},
		SYSDATE,
		TO_DATE(#{strtDt}, 'YYYY-MM-DD'),
		TO_DATE(#{endDt}, 'YYYY-MM-DD'),
		#{cntrctAccnt},
		#{pjDesc},
		#{pjRcrutCnt},
		TO_DATE(#{pjRcrutStrtDt}, 'YYYY-MM-DD'),
		TO_DATE(#{pjRcrutEndDt}, 'YYYY-MM-DD'))
	</insert>

	<insert id="insertOneProjectApply"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.ApplyProjectVO">
		<selectKey keyProperty="pjApplyId" order="BEFORE"
			resultType="string">
			SELECT 'PJ-APPLY' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-'
			||
			LPAD(PJ_APPLY_PK_SEQ.NEXTVAL, 6, '0')
			FROM DUAL
		</selectKey>
		INSERT INTO PJ_APPLY
		(PJ_APPLY_ID, EMIL_ADDR, PJ_ID, PJ_APPLY_RGSTR_DT,
		PJ_APPLY_TTL, PJ_APPLY_DESC)
		VALUES
		(#{pjApplyId},
		#{emilAddr},
		#{pjId},
		SYSDATE,
		#{pjApplyTtl},
		#{pjApplyDesc})
	</insert>

	<!-- <select id="selectAllCardProject" parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.SearchProjectVO" 
		resultMap="projectVOMap"> SELECT P.PJ_ID , P.ORDR_ID , P.OBTN_ID , P.PJ_TTL 
		, TO_CHAR(P.RGSTR_DT,'YYYY"년" MM"월" DD"일"') RGSTR_DT , TO_CHAR(P.STRT_DT,'YYYY"년" 
		MM"월" DD"일"') STRT_DT , TO_CHAR(P.END_DT,'YYYY"년" MM"월" DD"일"') END_DT , 
		P.CNTRCT_ACCNT , P.PJ_DESC , P.IS_RCRUT_ADD , P.PJ_STT , P.VIEW_CNT , P.PJ_RCRUT_CNT 
		, TO_CHAR(P.PJ_RCRUT_STRT_DT , 'YYYY"년" MM"월" DD"일"') RCRUT_STRT_DT , TO_CHAR(P.PJ_RCRUT_END_DT 
		, 'YYYY"년" MM"월" DD"일"') PJ_RCRUT_END_DT FROM PJ_INFO P INNER JOIN MBR_INFO 
		M ON P.ORDR_ID = M.EMIL_ADDR <if test="_parameter != null"> <include refid="com.ktdsuniversity.edu.bizmatch.project.dao.ProjectDao.selectAllProjectCodition" 
		/> </if> ORDER BY P.PJ_ID DESC <<<<<<< HEAD </select> -->

	<!-- 하나의 프로젝트 아이디를 조회하는 쿼리문. -->
	<select id="selectOneProjectInfo" parameterType="string"
		resultType="com.ktdsuniversity.edu.bizmatch.project.vo.ProjectVO">
		SELECT PJ_ID
		,ORDR_ID
		,OBTN_ID
		,PJ_TTL
		,RGSTR_DT
		,STRT_DT
		,END_DT
		,CNTRCT_ACCNT
		,PJ_DESC
		,IS_DLT
		,DLT_DT
		,LST_MOD_DT
		,IS_RCRUT_ADD
		,PJ_STT
		,VIEW_CNT
		,PJ_RCRUT_CNT
		,PJ_RCRUT_STRT_DT
		,PJ_RCRUT_END_DT
		FROM
		PJ_INFO
		WHERE ORDR_ID = #{_parameter}
		AND PJ_STT NOT IN 4
	</select>
	<select id="selectProjectInfo" parameterType="string"
		resultMap="projectVOMap">
		SELECT P.PJ_ID
			 , P.ORDR_ID
			 , P.OBTN_ID
			 , P.PJ_TTL
			 , TO_CHAR(P.RGSTR_DT, 'YYYY-MM-DD') RGSTR_DT 
			 , TO_CHAR(P.STRT_DT, 'YYYY-MM-DD') STRT_DT 
			 , TO_CHAR(P.END_DT, 'YYYY-MM-DD') END_DT 
			 , P.CNTRCT_ACCNT
			 , P.PJ_DESC
			 , P.IS_DLT
			 , TO_CHAR(P.DLT_DT, 'YYYY-MM-DD') DLT_DT
			 , TO_CHAR(P.LST_MOD_DT, 'YYYY-MM-DD') LST_MOD_DT
			 , P.IS_RCRUT_ADD
			 , P.PJ_STT
			 , P.VIEW_CNT
			 , P.PJ_RCRUT_CNT
			 , TO_CHAR(P.PJ_RCRUT_STRT_DT, 'YYYY-MM-DD') PJ_RCRUT_STRT_DT
			 , TO_CHAR(P.PJ_RCRUT_END_DT, 'YYYY-MM-DD') PJ_RCRUT_END_DT
			 , PY.PYMNT_ID
			 , PY.PJ_ID
			 , PY.GRNT_AMT
			 , PY.CNTRCT_AMT
			 , TO_CHAR(PY.GRNT_PD_DT, 'YYYY-MM-DD') GRNT_PD_DT
			 , TO_CHAR(PY.CNTRCT_PD_DT, 'YYYY-MM-DD') CNTRCT_PD_DT
			 , PY.ACCNT_NM
			 , PY.PYMNT_TYP
			 , PY.IMP_UID
			 , PY.DPST_RFND_AMNT
			 , TO_CHAR(PY.DPST_RFND_DT, 'YYYY-MM-DD') DPST_RFND_DT
		  FROM PJ_INFO P
		  LEFT JOIN PYMNT_INFO PY
		    ON P.PJ_ID = PY.PJ_ID
		 WHERE P.PJ_ID = #{_parameter}
	</select>

	<update id="updateOneProjectStt"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.UpdateProjectSttVO">
		UPDATE PJ_INFO
		SET PJ_STT = #{pjStt}
		WHERE PJ_ID =#{pjStt}
	</update>

	<select id="selectAllCardProject"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.SearchProjectVO"
		resultMap="projectVOMap">

		SELECT P.PJ_ID
		, P.ORDR_ID
		, P.OBTN_ID
		, P.PJ_TTL
		,
		TO_CHAR(P.RGSTR_DT,'YYYY"년" MM"월" DD"일"') RGSTR_DT
		,
		TO_CHAR(P.STRT_DT,'YYYY"년" MM"월" DD"일"') STRT_DT
		,
		TO_CHAR(P.END_DT,'YYYY"년" MM"월" DD"일"') END_DT
		, P.CNTRCT_ACCNT
		,
		P.PJ_DESC
		, P.IS_RCRUT_ADD
		, P.PJ_STT
		, P.VIEW_CNT
		, P.PJ_RCRUT_CNT
		,
		TO_CHAR(P.PJ_RCRUT_STRT_DT ,
		'YYYY"년" MM"월" DD"일"') RCRUT_STRT_DT
		,
		TO_CHAR(P.PJ_RCRUT_END_DT ,
		'YYYY"년" MM"월" DD"일"') PJ_RCRUT_END_DT
		FROM
		PJ_INFO P
		INNER JOIN
		MBR_INFO M
		ON P.ORDR_ID = M.EMIL_ADDR
		<if test="_parameter != null">
			<include
				refid="com.ktdsuniversity.edu.bizmatch.project.dao.ProjectDao.selectAllProjectCodition" />
		</if>
		ORDER BY
		<choose>
			<when test="orderBy == 'latest'">P.RGSTR_DT DESC</when>
			<when test="orderBy == 'deadline'">P.PJ_RCRUT_END_DT ASC</when>
			<when test="orderBy == 'amount'">P.CNTRCT_ACCNT DESC</when>
			<otherwise>P.RGSTR_DT DESC</otherwise> <!-- 기본 정렬 기준 -->
		</choose>

	</select>

	<select id="selectForPagination"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.ProjectPaginationVO"
		resultMap="projectVOMap">
		SELECT *
		FROM ( SELECT ROWNUM as RNUM
		, S.*
		FROM (
		SELECT P.PJ_ID
		,
		P.ORDR_ID
		, P.OBTN_ID
		, P.PJ_TTL
		, TO_CHAR(P.RGSTR_DT,'YYYY"년" MM"월"
		DD"일"') RGSTR_DT
		, TO_CHAR(P.STRT_DT,'YYYY"년" MM"월" DD"일"') STRT_DT
		,
		TO_CHAR(P.END_DT,'YYYY"년" MM"월" DD"일"') END_DT
		, P.CNTRCT_ACCNT
		,
		P.PJ_DESC
		, P.IS_RCRUT_ADD
		, P.PJ_STT
		, P.VIEW_CNT
		, P.PJ_RCRUT_CNT
		,
		TO_CHAR(P.PJ_RCRUT_STRT_DT , 'YYYY"년" MM"월" DD"일"') RCRUT_STRT_DT
		,
		TO_CHAR(P.PJ_RCRUT_END_DT , 'YYYY"년" MM"월" DD"일"') PJ_RCRUT_END_DT
		FROM PJ_INFO P
		INNER JOIN MBR_INFO M
		ON P.ORDR_ID = M.EMIL_ADDR
		<if test="_parameter != null">
			WHERE 1 = 1
			<if test='searchKeyword != null and searchKeyword !="" '>
				<if test=' searchType == "entire" '>
					AND (P.PJ_TTL LIKE '%' || #{searchKeyword} || '%'
					OR
					P.PJ_DESC LIKE '%' || #{searchKeyword} || '%'
					)
				</if>
				<!-- 검색 조건이 제목인 경우. -->
				<if test=' searchType == "pjTtl" '>
					AND P.PJ_TTL LIKE '%' || #{searchKeyword} || '%'
				</if>
				<!-- 검색 조건이 내용인 경우. -->
				<if test=' searchType == "pjDesc" '>
					AND P.PJ_DESC LIKE '%' || #{searchKeyword} || '%'
				</if>
			</if>
		</if>
		ORDER BY
		<choose>
			<when test="orderBy == 'latest'">P.RGSTR_DT DESC</when>
			<when test="orderBy == 'deadline'">P.PJ_RCRUT_END_DT ASC</when>
			<when test="orderBy == 'amount'">P.CNTRCT_ACCNT DESC</when>
			<!-- 기본 정렬 기준 -->
			<otherwise>P.RGSTR_DT DESC</otherwise>
		</choose>
		) S
		WHERE ROWNUM <![CDATA[<=]]>
		(#{currPageNo} + 1)*#{exposureListSize} )
		WHERE RNUM <![CDATA[>=]]>
		#{currPageNo} * #{exposureListSize} + 1
	</select>

	<!-- 프로젝트 정보에 대한 내용 수정 쿼리문. (삭제 제외) -->
	<update id="updateOneProject"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.ModifyProjectVO">
		UPDATE PJ_INFO
		SET PJ_TTL=#{pjTtl},
		CNTRCT_ACCNT=#{cntrctAccnt},
		PJ_DESC=#{pjDesc},
		LST_MOD_DT=SYSDATE,
		PJ_RCRUT_CNT=#{pjRcrutCnt},
		WHERE PJ_ID=#{pjId}
	</update>

	<!-- 조회수를 증가하는 쿼리문. -->
	<update id="updateProjectViewCnt" parameterType="string">
		UPDATE PJ_INFO
		SET VIEW_CNT = VIEW_CNT + 1
		WHERE PJ_ID = #{_parameterType}
	</update>

	<!-- 프로젝트의 산업군 정보를 업데이트하는 쿼리문. -->
	<update id="updateProjectIndustry"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.ProjectIndustryVO">
		UPDATE PJ_INDSTR
		SET INDSTR_ID = #{indstrId}
		WHERE PJ_ID =
		#{pjId}
	</update>

	<!-- 프로젝트 추가모집시 정보를 수정하는 쿼리문. -->
	<update id="updateAddtionalRecruitment"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.ModifyProjectVO">
		UPDATE PJ_INFO
		SET PJ_TTL = #{pjTtl},
		STRT_DT = #{strtDt},
		END_DT = #{endDt},
		CNTRCT_ACCNT = #{cntrctAccnt},
		PJ_DESC = #{pjDesc},
		IS_RCRUT_ADD = 1,
		PJ_RCRUT_CNT = #{pjRcrutCnt},
		PJ_RCRUT_STRT_DT =
		#{pjRcrutStrtDt},
		PJ_RCRUT_END_DT = #{pjRcrutEndDt},
		LST_MOD_DT =
		SYSDATE
		WHERE PJ_ID = #{pjId}
	</update>

	<!-- 하나의 프로젝트를 삭제하는 쿼리문. -->
	<update id="deleteOneProject" parameterType="string">
		UPDATE PJ_INFO
		SET
		IS_DLT = 1,
		DLT_DT = SYSDATE
		WHERE PJ_ID = #{_parameter}
	</update>

	<!-- 프로젝트 지원서 내용을 수정하는 쿼리문. -->
	<update id="updateProjectApply"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.ApplyProjectVO">
		UPDATE PJ_APPLY
		SET PJ_APPLY_TTL = #{pjApplyTtl},
		PJ_APPLY_DESC = #{pjApplyDesc},
		PJ_APPLY_MDFY_DT = SYSDATE
		WHERE
		PJ_APPLY_ID = #{pjApplyId}
		AND EMIL_ADDR = #{emilAddr}
	</update>

	<delete id="deleteProjectApply"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.ApplyProjectVO">
		DELETE
		FROM PJ_APPLY
		WHERE PJ_APPLY_ID = #{pjApplyId}
		AND
		EMIL_ADDR = #{emilAddr}
	</delete>

	<resultMap
		type="com.ktdsuniversity.edu.bizmatch.project.vo.ApplyProjectVO"
		id="applyProjectVOMap" autoMapping="true">
		<id column="PJ_APPLY_ID" property="pjApplyId" />
		<association property="memberVO"
			javaType="com.ktdsuniversity.edu.bizmatch.member.vo.MemberVO"
			autoMapping="true">
			<id column="EMIL_ADDR" property="emilAddr" />
		</association>
		<collection property="projectApplyAttVOList"
			ofType="com.ktdsuniversity.edu.bizmatch.project.vo.ProjectApplyAttVO"
			autoMapping="true">
			<id column="PJ_APPLY_ATT_ID" property="pjApplyAttId" />
		</collection>
	</resultMap>

	<update id="updateProjectApplyMember"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.SelectApplyMemberVO">
		UPDATE PJ_INFO
		SET OBTN_ID = #{emilAddr}
		WHERE PJ_ID =
		#{pjId}
	</update>

	<!-- 한 프로젝트에 지원한 모든 지원자 정보를 조회하는 쿼리문. -->
	<select id="selectAllApplyMember" parameterType="string"
		resultMap="applyProjectVOMap">
		SELECT P.PJ_APPLY_ID
		, M.EMIL_ADDR
		, P.PJ_ID
		, P.PJ_APPLY_RGSTR_DT
		, P.PJ_APPLY_TTL
		, P.PJ_APPLY_DESC
		, P.PJ_APPLY_MDFY_DT
		, PA.PJ_APPLY_ATT_ID
		, PA.PJ_APPLY_ATT_URL
		FROM PJ_APPLY P
		JOIN MBR_INFO M
		ON M.EMIL_ADDR = P.EMIL_ADDR
		JOIN PJ_APPLY_ATT PA
		ON PA.PJ_APPLY_ID = P.PJ_APPLY_ID
		WHERE p.PJ_ID = #{_parameter}
	</select>

	<select id="selectAllProjectCompanyOrder"
		parameterType="com.ktdsuniversity.edu.bizmatch.member.vo.MemberVO"
		resultMap="projectVOMap">
		SELECT PJ_ID
		, ORDR_ID
		, OBTN_ID
		, PJ_TTL
		, RGSTR_DT
		, STRT_DT
		, END_DT
		, CNTRCT_ACCNT
		, PJ_DESC
		, IS_DLT
		, DLT_DT
		, LST_MOD_DT
		, IS_RCRUT_ADD
		, PJ_STT
		, VIEW_CNT
		, PJ_RCRUT_CNT
		, PJ_RCRUT_STRT_DT
		, PJ_RCRUT_END_DT
		FROM PJ_INFO
		WHERE ORDR_ID IN (
		SELECT EMIL_ADDR
		FROM MBR_INFO
		WHERE CMP_ID =(
		SELECT CMP_ID
		FROM MBR_INFO
		WHERE EMIL_ADDR =#{emilAddr}))
	</select>

	<select id="selectAllProjectOrderRecipient"
		parameterType="com.ktdsuniversity.edu.bizmatch.member.vo.MemberVO"
		resultMap="projectVOMap">
		SELECT PJ_ID
		, ORDR_ID
		, OBTN_ID
		, PJ_TTL
		, RGSTR_DT
		, STRT_DT
		, END_DT
		, CNTRCT_ACCNT
		, PJ_DESC
		, IS_DLT
		, DLT_DT
		, LST_MOD_DT
		, IS_RCRUT_ADD
		, PJ_STT
		, VIEW_CNT
		, PJ_RCRUT_CNT
		, PJ_RCRUT_STRT_DT
		, PJ_RCRUT_END_DT
		FROM PJ_INFO
		WHERE OBTN_ID IN
		<choose>
			<when test='mbrCtgry == 0'>
				(SELECT EMIL_ADDR
				FROM MBR_INFO
				WHERE CMP_ID =( SELECT CMP_ID
				FROM MBR_INFO
				WHERE EMIL_ADDR =#{emilAddr}))
			</when>
			<otherwise>
				#{emilAddr}
			</otherwise>
		</choose>
	</select>

	<select id="selectAllApply"
		parameterType="com.ktdsuniversity.edu.bizmatch.member.vo.MemberVO"
		resultMap="projectApplyVOMap">
		SELECT *
		FROM PJ_APPLY PA
		JOIN PJ_INFO PI
		ON PA.PJ_ID = PI.PJ_ID
		WHERE PI.PJ_ID IN (SELECT PJ_ID
		FROM PJ_INFO
		WHERE PJ_STT = 0 OR PJ_STT =3)
		<choose>
			<when test='mbrCtgry==0'>
				AND PA.EMIL_ADDR IN (SELECT EMIL_ADDR
				FROM MBR_INFO
				WHERE CMP_ID = (SELECT CMP_ID
				FROM MBR_INFO
				WHERE EMIL_ADDR = 'test@test'))
			</when>
			<otherwise>
				AND PA.EMIL_ADDR = #{emilAddr}
			</otherwise>
		</choose>
	</select>
	<!-- 사용자가 스크랩한 프로젝트 정보를 추가하는 쿼리문. -->
	<insert id="insertProjectScrap"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.ProjectScrapVO">
		INSERT INTO PJ_SCRP
		(PJ_SCRP_ID
		,EMIL_ADDR
		,PJ_ID)
		VALUES
		('AL-' || TO_CHAR(SYSDATE, 'YYYYMMDD')|| '-' ||
		LPAD(PJ_SCRP_PK_SEQ.NEXTVAL, 6, '0')
		, #{emilAddr}
		, #{pjId})
	</insert>

	<!-- 해당 프로젝트에 필요한 보유 기술을 조회하는 쿼리문. -->
	<resultMap
		type="com.ktdsuniversity.edu.bizmatch.project.vo.ProjectSkillVO"
		id="projectSkillVOMap" autoMapping="true">
		<id column="PJ_PRM_STK_ID" property="pjPrmStkId" />
		<association property="prmStkVO"
			javaType="com.ktdsuniversity.edu.bizmatch.member.vo.PrmStkVO"
			autoMapping="true">
			<id column="PRM_STK_ID" property="prmStkId" />
		</association>
	</resultMap>
	<select id="selectAllProjectSkill" parameterType="string"
		resultMap="projectSkillVOMap">
		SELECT *
		FROM PJ_INFO PI
		INNER JOIN PJ_PRM_STK PPS
		ON PI.PJ_ID = PPS.PJ_ID
	</select>

	<!-- 모든 기술 목록 -->
	<select id="selectAllProjectSkillList"
		resultType="com.ktdsuniversity.edu.bizmatch.member.vo.PrmStkVO">
		SELECT PRM_STK_ID
		, PRM_STK
		FROM PRM_STK

	</select>

	<!-- 하나의 프로젝트에 들어있는 산업군의 정보를 가져오는 쿼리문. -->
	<resultMap
		type="com.ktdsuniversity.edu.bizmatch.project.vo.ProjectIndustryVO"
		id="projectIndustryVOMap" autoMapping="true">
		<id column="PJ_ID" property="pjId" />
		<association property="indstrInfoVO"
			javaType="com.ktdsuniversity.edu.bizmatch.common.vo.IndstrInfoVO"
			autoMapping="true">
			<id column="INDSTR_ID" property="indstrId" />
		</association>
	</resultMap>
	<select id="selectAllProjectIndustryInfo" parameterType="string"
		resultMap="projectIndustryVOMap">
		SELECT *
		FROM PJ_INDSTR PI
		LEFT JOIN INDSTR_INFO II
		ON PI.INDSTR_ID = II.INDSTR_ID
		WHERE PI.PJ_ID = #{_parameter}
	</select>

	<!-- 프로젝트 관련 기술들을 등록하는 쿼리문이다. -->
	<insert id="insertProjectSkills"
		parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.ProjectSkillVO">
		INSERT INTO PJ_PRM_STK
		(PJ_PRM_STK_ID
		, PJ_ID
		, PRM_STK_ID)
		VALUES
		('PJ-PRM-STK' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(PJ_PRM_STK_PK_SEQ.NEXTVAL, 6, '0')
		, #{pjId}
		, #{prmStkId})
	</insert>
	
	<!-- 특정 프로젝트의 특정 지원서를 조회하는 쿼리문. -->
	<select id="selectOneApplyProjectInfo"
			parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.ApplyProjectVO"
			resultType="com.ktdsuniversity.edu.bizmatch.project.vo.ApplyProjectVO">
		SELECT PJ_APPLY_ID,
			   EMIL_ADDR,
			   PJ_ID,
			   PJ_APPLY_RGSTR_DT,
			   PJ_APPLY_TTL,
			   PJ_APPLY_DESC,
			   PJ_APPLY_MDFY_DT
		  FROM PJ_APPLY PA
		 WHERE PJ_APPLY_ID = #{pjApplyId}
		   AND EMIL_ADDR = #{emilAddr}
		   AND PJ_ID = #{pjId}
	</select>
</mapper>