@charset "UTF-8";

/* .footer {
  background-color: #4758ee;
  height: 17rem;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  align-items: center;
  display: flex;
  color: white;
} */


.footer {
  background-color: #4758ee;
  height: 17rem;
  margin-top: auto;
  display: flex;
  align-items: center;
  color: white;
  /* position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0; */
}

.footer-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-center {
  display: flex;
  gap: 10rem;
}

.footer-center-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-center-box a {
  text-decoration: none;
  color: white;
}

.footer-center-box a:hover {
  text-decoration: underline;
}

.footer-side-text {
  padding: 0.7rem;
}

.footer-side {
  /* padding-top: 1rem; */
  display: flex;
  align-items: center;
}

.footer-center-box-title {
  padding-bottom: 1rem;
}
