* {
  box-sizing: border-box;
}

.mainpage-box {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.main-box {
  width: 70%;
  display: flex;
}

/* 사이드바 */
.sidebar {
  width: 20%;
  height: 60vh;
  position: sticky;
  top: 18vh;
}

.sidebar-menulist {
  border-radius: 1vw;
  padding: 5%;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.sidebar-menu {
  display: flex;
  border-radius: 1rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 10%;
  margin-top: 10px;
  font-size: 1rem;
  padding: 1%;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.sidebar-menu:hover {
  background-color: #5985ff;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* 사이드바 */

.myPageList {
  display: flex;
  width: 80%;
  justify-content: flex-end;
}

.myPageList-box {
  width: 90%;
  border-radius: 15px;
  padding: 5%;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.introduction {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  font-size: 1rem;
  font-weight: bold;
}

.introduction-content {
  margin-top: 3%;
  margin-left: 4%;
  width: 90%;
  background-color: white;
  height: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.holding-technology {
  font-size: 1rem;
  margin-bottom: 5%;
  font-weight: bold;
}

.holding-technology-list {
  padding-top: 3%;
  display: flex;
  justify-content: space-around;
}

.tech {
  display: flex;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 4rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.no-tech,
.no-portfolio {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 5vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.attachment {
  font-size: 1vw;
  font-weight: bold;
  margin-bottom: 7%;
}

.result {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

.portfolio-item {
  background-color: #ffffff;
  border-radius: 1vw;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  border: 0.1vw solid #b0b7d2;
  cursor: pointer;
  width: 30%;
}

.portfolio-item:hover {
  transform: translateY(-0.5vw);
}

.portfolio-item img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.map {
  font-size: 1vw;
  font-weight: bold;
}

.map-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f9fafc;
  border-radius: 1vw;
  height: 60vh;
  padding: 3%;
  align-items: center;
  margin-top: 3%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.kakao-map {
  display: flex;
  width: 40vw;
  height: 40vh;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.map-detail {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-title {
  font-size: 1vw;
  width: 20%;
}

.detail-address {
  border: 1px solid black;
  width: 90%;
  border-radius: 1vw;
  padding: 0.5vw;
  font-size: 1vw;
  word-wrap: break-word;
  word-break: break-word;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.review-list {
  margin-top: 8vh;
}

/* Sort options */
.sort-options {
  display: flex;
  gap: 1vw;
}

.sort-option {
  color: #4758ee;
  background-color: #fff;
  border: 0.1vw solid #4758ee;
  font-size: 0.7vw;
  padding: 0.5vh 1vw;
  border-radius: 1vw;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sort-option:hover {
  background-color: #4758ee;
  color: #fff;
}

.sort-option.active {
  background-color: #4758ee;
  color: white;
  border: none;
}
/* Sort options */

.review-title {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

.review {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 1rem;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 1rem;
  padding: 1%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.review-image {
  border-radius: 50%;
  width: 10%;
}

img {
  width: 100%;
  height: 100%;
}

.review-content {
  max-width: 30%;
  word-wrap: break-word;
  word-break: break-word;
}

.no-review-message {
  text-align: center;
}

/* 별 css */
.fa-star,
.fa-star-half-alt,
.far.fa-star {
  color: #ffd700;
}

.report {
  background-color: #ff4d4d;
  color: white;
  font-weight: bold;
  border-radius: 1vw;
  border: none;
  font-size: 0.8vw;
  padding: 0.8vh 1vw;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.report:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}

.report:focus {
  outline: none;
}

.more-button-box {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}

.more-button {
  padding: 1vh 1vw;
  border: none;
  border-radius: 5vw;
  background-color: #2196f3;
  color: white;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.more-button:hover {
  background-color: #1769aa;
  transform: translateY(-2px);
}

.small {
  scale: 0.6;
}

/* 모달 창 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.modal-content {
  background-color: #fff;
  margin: 15vh auto;
  padding: 4vh 4vw;
  border-radius: 2vh;
  width: 30vw;
  box-shadow: 0 0.8vw 1.6vw rgba(0, 0, 0, 0.3);
  position: relative;
  cursor: move;
}

.modal-title {
  font-size: 3vh;
  font-weight: 600;
  color: #4758ee;
  margin-bottom: 4vh;
  text-align: center;
}

.close-btn {
  color: #aaa;
  position: absolute;
  top: 3vh;
  right: 3vw;
  font-size: 2vh;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
}

.form-group {
  margin-bottom: 4vh;
}

.form-label {
  display: block;
  margin-bottom: 1vh;
  font-weight: 600;
  color: #333;
  font-size: 2vh;
}

.form-select,
.form-textarea {
  width: 100%;
  padding: 2vh;
  border-radius: 1vh;
  border: 0.1vh solid #ddd;
  font-size: 2vh;
  color: #333;
  background-color: #f9f9f9;
}

.form-select:focus,
.form-textarea:focus {
  border-color: #4758ee;
  outline: none;
}

.form-textarea {
  height: 20vh;
  resize: none;
}

.submit-btn {
  background-color: #4758ee;
  color: #fff;
  padding: 2vh;
  width: 100%;
  border: none;
  border-radius: 1vh;
  font-size: 2vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #3546d4;
}
