<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.bizmatch.payment.dao.PaymentDao">
	
	<!-- 결제 거래금 정보 update하는 쿼리문. -->
	<update id="updatePaymentInfo"
	        parameterType="com.ktdsuniversity.edu.bizmatch.payment.vo.PaymentRequestVO">
	    UPDATE PYMNT_INFO
	    SET PJ_ID = #{pjId}
	        , CNTRCT_AMT = #{cntrctAmt}
	        , CNTRCT_PD_DT = SYSDATE
	        , IMP_UID = #{impUid}
	    WHERE PYMNT_ID = #{pymntId}
	</update>

	<!-- 보증금 결제 거래금 정보 update하는 쿼리문. -->
	<update id="updateDepositPaymentInfo"
	        parameterType="com.ktdsuniversity.edu.bizmatch.payment.vo.PaymentRequestVO">
	    UPDATE PYMNT_INFO
	    SET PJ_ID = #{pjId}
	        , GRNT_AMT = #{cntrctAmt}
	        , GRNT_PD_DT = SYSDATE
	        , IMP_UID = #{impUid}
	    WHERE PYMNT_ID = #{pymntId}
	</update>

	<!-- 한  -->
	<select id="selectProjectAmount"
			parameterType="string"
			resultType="_int">
		SELECT CNTRCT_AMT 
		  FROM PYMNT_INFO 
		 WHERE PJ_ID =#{_parameter}
	</select>
	
	<!-- 우리 계좌에서 돈 와리가리 하는거 수행해주는 쿼리문. -->
	<update id="updateAccountBalance"
		 	parameterType="_int">
		UPDATE ACCNT 
		   SET ACCNT_BL = #{_parameter}
		 WHERE ACCNT_NM = "123123123123"
	</update>
	
	<update id="updateDeposit" 
			parameterType="com.ktdsuniversity.edu.bizmatch.payment.vo.RefundDepositVO">
		UPDATE PYMNT_INFO 
		   SET DPST_RFND_AMNT = #{dpstRfndAmnt}
		     , DPST_RFND_DT = SYSDATE
		 WHERE PJ_ID = #{pjId}
	</update>
	
	<select id="selectOneDeposit" 
			parameterType="string" 
			resultType="com.ktdsuniversity.edu.bizmatch.payment.vo.PaymentVO">
	SELECT PYMNT_ID 
		 , PJ_ID 
		 , GRNT_AMT 
		 , CNTRCT_AMT 
		 , GRNT_PD_DT 
		 , CNTRCT_PD_DT 
		 , ACCNT_NM 
		 , IMP_UID 
	  FROM PYMNT_INFO 
	 WHERE PJ_ID = #{_parameter}
	   AND DPST_RFND_DT = NULL 
	   AND DPST_RFND_AMNT = NULL
	</select>
	
	<!-- 프로젝트를 등록할 때 필요한 결제정보를 같이 저장하는 쿼리문. -->
	<insert id="insertNewPaymentInfoWhenInsertProject"
			parameterType="com.ktdsuniversity.edu.bizmatch.project.vo.WriteProjectVO">
		INSERT INTO PYMNT_INFO 
		(PYMNT_ID,
		PJ_ID,
		GRNT_AMT,
		CNTRCT_AMT)
		VALUES
		('AL-' || TO_CHAR(SYSDATE, 'YYYYMMDD')|| '-' || LPAD(PYMNT_INFO_PK_SEQ.NEXTVAL, 5, '0'),
		#{pjId},
		#{grntAmt},
		#{cntrctAccnt})
	</insert>
</mapper>